@import "./color.module.scss";
@import "./text.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: none;
}

.button{
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: $font-medium;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: $first-color-dark;
}
::-webkit-scrollbar-thumb{
  background: $first-color;
  border-radius: 40px;
}